.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
  color: white;
  font-family: sans-serif;
}

.input-container {
  text-align: center;
}

.input-container input {
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.input-container button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.timer-display h1 {
  font-size: 10rem;
}